* {
    padding: 0;
    margin: 0;
}

.header {
    color: #f9faf8;
    background: #1f2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    max-width: 444px;
}

.sub-title {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}

.header-body {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

img {
    max-height: 200px;
    margin-left: 44px;
}

button {
    background: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
}

.h-two {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px;
}

.boxes {
    color: #1f2937;
    font-size: 18px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.section-two {
    margin: 50px;
    text-align: center;
}